In [1]:
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster
import numpy as np

In [3]:
df = pd.read_parquet("../data/partners/partner_235.parquet")

In [15]:
df['dayofyear'] = df['click_timestamp'].dt.dayofyear

In [16]:
df['dayofyear'] = df['dayofyear'] - df['dayofyear'].min()

In [17]:
groups = df.groupby('dayofyear')

In [21]:
df['dayofyear'].max()

33

In [13]:
for i in range(0, 2):
    print(i)

0
1

In [2]:
from dask.distributed import Client, LocalCluster
cluster = LocalCluster()
client = Client(cluster)

In [3]:
client

In [4]:
df = dd.read_parquet("../data/partners/partner_*.parquet")

In [11]:
x['product_id'].unique()

array([  62295, 1266905,  851048,  669672,   88143, 1479954,   31032,
        478889,  989644,  444534,  764593, 1579147,   60957,  996391,
       1567916, 1255467,  108551, 1007270,   21327,  522966,  301054,
        281966, 1328108,  370257,  271700, 1530720,  357879, 1079674,
       1419913,  100285, 1399690, 1311159,  433109,  326279, 1341649,
       1488873,   87168,  640579,  252680, 1167805,  260659,  185797,
        799919, 1325452,  824868, 1538480, 1543562, 1425144, 1439672,
        421386,   29397, 1524105,  860416, 1482196,  921982, 1492990,
       1619593,  312012, 1265473, 1370937,  319040,  941183,  588757,
        834846,  414938,  817615,  463312,  616210,  684843,  987375,
       1554087, 1300575, 1541692,  699228,  606683, 1480314, 1354179,
        718611,  677153, 1411978,  566120, 1070419,  451839, 1178993,
        647496,  928415,  445062, 1330127,  314356, 1516983,  368883,
       1114132,    7056,  987829,  670764, 1107855,  373212,  242820,
       1221531,  440989, 1015169, 1139591,  127098, 1550835, 1375920,
       1227800,  191573, 1525805,  901689, 1297118, 1546719, 1549253,
       1449162, 1303608,  537129, 1595235, 1148626,   16801,  415969,
       1257033,  573810, 1521106,  442973, 1579137, 1622854,  935938,
        247616,  492205,  898853, 1535663,  908229,  562881,  226079,
       1623077,  357199,  418640,  213781, 1335863,   28262,  186240,
       1396462,  957689, 1396412,  345014,  694235,  808462, 1098816,
        608399, 1029309, 1502893,  418896, 1335059,  260459,  901064,
        831900,  149049, 1015089, 1482110,  833183, 1471969, 1037232,
        105961,  792128, 1433730, 1321195,  602597,  216168,  896322,
        230400,  980638,  726518,  387849, 1418138,  855904,  753054,
       1521398, 1043568,   74097,  302785,  777372,  667837,  169467,
        310933, 1076745,  832999,  823524,  892224,  270697,  741913,
         38891,  645750,  716348,  616880, 1540352, 1369774,  459736,
        515841,   48473,  689264,  918888,  598799, 1448257,  268886,
        336486, 1349297,  535282, 1033612,  811103])

In [18]:
x['product_id'].isin([2137])

11604196    False
3335873     False
15818306    False
15262504    False
15755401    False
            ...
6846595     False
4621144     False
376879      False
382390      False
4622800     False
Name: product_id, Length: 5056, dtype: bool

In [13]:
x[[1043568, 689264].contains(x['product_id'])]

AttributeError: 'list' object has no attribute 'contains'

In [32]:
df_sales_group = df.groupby('partner_id')['Sale'].value_counts().compute().unstack().fillna(0)
df_sales_group['Percentage sales'] = df_sales_group[True]/(df_sales_group[False]+df_sales_group[True])

In [40]:
df_sales_group.iloc[277][False] + df_sales_group.iloc[277][True]

3090150.0

In [13]:
g = df.groupby('partner_id')
g = g.apply(lambda x: x[x['Sale'] == True]['SalesAmountInEuro'].sum()).compute()
g = g.sort_index()

<ipython-input-13-32e7d2d7ea30>:2: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  g = g.apply(lambda x: x[x['Sale'] == True]['SalesAmountInEuro'].sum()).compute()

In [14]:
df_sales_group['Sales %'] = df_sales_group['Percentage sales']*100
df_sales_group = df_sales_group.round(2)
df_sales_group['Sales %'] = df_sales_group['Sales %'].astype(str) + '%'
df_sales_group = df_sales_group.drop(['Percentage sales'], axis =1)
df_sales_group['Events'] = df_sales_group[False]+ df_sales_group[True]
df_sales_group = df_sales_group.drop([False], axis=1)
df_sales_group['Sales'] = df_sales_group[True]
df_sales_group = df_sales_group.drop([True], axis = 1)
df_sales_group = df_sales_group[['Events', 'Sales',  'Sales %']]
df_sales_group['Avg click cost'] = (g/df_sales_group['Events'])*0.125
df_sales_group = df_sales_group.round(2)

In [15]:
df_sales_group.round(2)

Sale          Events    Sales Sales %  Avg click cost
partner_id
0              214.0      0.0    0.0%            0.00
1             5056.0   1560.0  30.85%            1.15
2            92283.0  20303.0   22.0%            1.51
3            24011.0   3976.0  16.56%            0.78
4             2397.0    371.0  15.48%            1.52
...              ...      ...     ...             ...
307            990.0      1.0    0.1%            0.06
308         153523.0   9233.0   6.01%            0.62
309          37973.0   4189.0  11.03%            0.54
310          11069.0    667.0   6.03%            0.34
311          89454.0   6641.0   7.42%            3.28

[312 rows x 4 columns]